/* ------------------------------------- */
/* BASE STYLE */
/* ------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Roboto', Courier, monospace;
  font-size: 20px;
  font-weight: 300;
  word-spacing: 1px;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
}

body {
  background-color: hsl(217, 54%, 11%);
  color: #555;
}

button {
  font-family: 'Roboto', Courier, monospace;
}

/* ------------------------------------- */
/* CONTENTS */
/* ------------------------------------- */

/* HEADINGS */

h1 {
  margin-bottom: 10px;
  font-size: 210%;
}

/* PARARAPH'S */

p {
  font-size: 60%;
}

/* DIV ELEMENTS */

.container {
  width: 48vw;
  display: grid;
  grid-template-columns: 55% 45%;
  background-color: #fff;
  margin: 80px auto;
  padding: 10px;
  border-radius: 20px;
  /* height: 50vh; */
}

.grid_info {
  /* margin: 20px 10px; */
  padding: 40px;
}

.grid_svg {
  height: 450px;
}

.value_container {
  display: flex;
  align-items: center;
}

.value_container:first-of-type {
  margin-top: 20px;
}

.value_container:last-of-type {
  margin-bottom: 20px;
}

/* SVG ELEMENTs */

.success_icon {
  width: 20px;
  margin-right: 10px;
}

.mobile_svg {
  display: none;
}

/* FORM ELEMENT */

label {
  font-size: 65%;
  font-weight: 700;
  margin-bottom: 10px;
}

.email_input {
  display: block;
  width: 100%;
  height: 2.1rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  /* background-clip: padding-box; */
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  width: 100%;
  height: 2.1rem;
  margin-top: 10px;
  padding: 0.375rem 0.75rem;
  color: #fff;
  background-color: #555;
  cursor: pointer;
  /* background-clip: padding-box; */
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.success_container {
  width: 27vw;
  background-color: #fff;
  margin: 80px auto;
  padding: 40px;
  border-radius: 25px;
  display: none;
}

/* MOBILE RESPONSIVE */

@media (max-width: 650px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .desktop_svg {
    display: none;
  }

  .mobile_svg {
    display: block;
    border-radius: 0 0 5px 5px;
  }

  .grid_info {
    margin: 0;
    padding: 0;
  }
}